{% extends "../base.html" %}
    {% block title %}
    {{ site.name }}
{% end %}
{% block header %}
    {% include '../home/header_inside.html' %}
{% end %}
{% block javascript %}
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBYUOH4rtmdX21L9jA7GNa5W_fKq9Ej8s0&callback=initMap">
    </script>
    <script type="text/javascript" src="{{ site_base }}/{{ nocache_static }}/js/map_store.js"></script>
{% end %}
{% block body %}
    {% if is_admin %}
        {% set editabletext = 'editabletext' %}
    {% else %}
        {% set editabletext = '' %}
    {% end %}
    <div class="is"></div>
    <div class="col-md-12 col-sm-12 col-xs-12">
        <a href="{{ site_base }}/formulario">
            <div class="box-ros">
                <i class="fa fa-envelope" aria-hidden="true"></i>
                <div class="texto-rer">
                    Reserva <br> tu evaluación <br> sin costo
                </div>
            </div>
        </a>
    </div>
    <section id="cont">
        <div class="container">
            <div class="col-md-6 col-sm-12 col-xs-12">
                <div align="center">
                    <div style="position:relative;">
                        {% if is_admin %}
                            <div class="image-upload">
                                <label for="img_box_huerfanos">
                                    <img class="change-image" src="https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png" onmouseover="this.src='https://7static.loadingplay.com/static/images/f2e626ad62e2c957b3708a27e55f4b03_btn-edit-hover.png';" onmouseout="this.src='https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png'">
                                </label>
                                <input type="file" class="editableimage" image-id="{{ site.name }}_box_huerfanos" name="image" id="img_box_huerfanos" >
                            </div>
                        {% end %}
                        <img id="{{ site.name }}_box_huerfanos" src="{{ read_image(site.name + '_box_huerfanos', 1) }}" onload="this.onload='';this.src='{{ read_image(site.name + '_box_huerfanos') }}'" class="box-locales" alt="item">
                    </div>
                    <div class="texto-ubi-2 {{editabletext}}" text-id="{{ site.name + '_local_huerfanos' }}">
                        {{ read_text(site.name +  '_local_huerfanos') }}
                    </div>
                    <div class="texto-ubi-2 {{editabletext}}" text-id="{{ site.name + '_local_huerfanos_2' }}">
                        {{ read_text(site.name +  '_local_huerfanos_2') }}
                    </div>
                    <a href="tel:56922192976">
                        <div class="texto-ubi-2 {{editabletext}}" text-id="{{ site.name + '_huerfanos_1' }}">
                            {{ read_text(site.name +  '_huerfanos_1') }}
                        </div> 
                    </a>
                    <div class="texto-ubi-2 {{editabletext}}" text-id="{{ site.name + '_local_huerfanos_2_vi' }}">
                        {{ read_text(site.name +  '_local_huerfanos_2_vi') }}
                    </div>
                    <hr class="inter hidden-sm hidden-xs">
                </div>
            </div>
            <div class="col-md-6 col-sm-12 col-xs-12">
                <div align="center">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3329.3937657781976!2d-70.65094604905278!3d-33.439046280682895!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9662c5fb4c358e2f%3A0x97e4132deb734b14!2sHu%C3%A9rfanos+835%2C+oficina+1602%2C+oficina1603%2C+Santiago%2C+Regi%C3%B3n+Metropolitana!5e0!3m2!1ses-419!2scl!4v1553253226994" width="100%" height="400" frameborder="0" style="border:0" allowfullscreen></iframe>
                    <div class="on-map absolute top-map">
                        <div class="container-fluid-new absolute">
                            <div class="row-fluid-new">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div style="margin-bottom:30px;"></div>
    </section>
    <section style="height:150px;"></section>
    {% include '../home/footer.html' %}
{% end %}
