<section>
    <div class="container section-pre-footer">
        <div class="col-md-offset-1 col-md-10">
            <div align="center">
                <div class="contenedor-bot">
                    <div class="col-md-3 col-sm-3 col-xs-6 no-padding">
                        <div class="min">
                            <div style="position:relative;  margin-top: 10px;">
                                <img class="img-box-bot" src="https://84static.loadingplay.com/static/images/c17251ee0693f62c9121163acb5f2e16_health.png">
                            </div>
                            <div class="text-a {{editabletext}}" text-id="{{ site.name + '_a' }}"> {{ read_text(site.name + '_a') }} </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-6 no-padding">
                        <div class="min">
                            <div style="position:relative;  margin-top: 10px;">
                                <img class="img-box-bot-2" src="https://7static.loadingplay.com/static/images/c96a7c84bb45afddc9e0067baed6d166_curve.png">
                            </div>
                            <div class="text-a {{editabletext}}" text-id="{{ site.name + '_b' }}"> {{ read_text(site.name + '_b') }} </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-6 no-padding">
                        <div class="min">
                            <div style="position:relative; margin-top: 10px;">
                                <img class="img-box-bot-3" src="https://84static.loadingplay.com/static/images/3a63013b14a4d514f197bd07df3788db_heart.png">
                            </div>
                            <div class="text-a {{editabletext}}" text-id="{{ site.name + '_c' }}"> {{ read_text(site.name + '_c') }} </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-6 no-padding">
                        <div class="min">
                            <div style="position:relative; margin-top: 10px;">
                                <img class="img-box-bot-4" src="https://7static.loadingplay.com/static/images/49624e982e8e3bcd1d66bfbcfb1f7e6b_chronos.png">
                            </div>
                            <div class="text-a {{editabletext}}" text-id="{{ site.name + '_d' }}"> {{ read_text(site.name + '_d') }} </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
